<%if(error_msg!=""){%>
  <div class="alert alert-error">
    <p><%=error_msg%></p>
  </div>
<%}%>

<%if(success_msg!=""){%>
  <div class="alert alert-success">
    <p><%=success_msg%></p>
  </div>
<%}%>

