<%-include('./partials/header')%>

<section id="showcase">
  <div class="container">
    <h1>Welcome to TopicPedia</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eum
      autem corporis velit! Nesciunt reprehenderit architecto doloremque non
      quaerat velit.
    </p>
    <a href="/topics" class="btn">Explore the Topics</a>
  </div>
</section>

<%-include('./partials/footer')%>
